/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}
main{
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "building" "info";
    @include md{
        grid-template-columns: 35vw 65vw;
        grid-template-areas: "info building";
    }
}
