/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}
main{
    background-image: url("../img/background.png");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 330px;
    grid-template-areas: "building" "address" "info";
}
