#address {
    grid-area: address;
    align-self: flex-end;
    @include md {
        z-index: 5000000;
        padding-left: 0;
        justify-content: center;
    }
    @include lg {
        width: 100%;
    }

    .iconAndText {
        display: flex;
        align-items: center;
        @include md {
            display: inline-block;
            padding-left: 20%;
        }

        p {
            padding-left: 20px;
        }

        i {
            color: $yellow;
            transition: 0.4s;
        }
    }

    .iconAndText:hover i {
        color: $white;
        padding-left: 40px;
    }

    .addressBG {
        background-color: $blue;
        padding: 10px 20px;
    }

    #lebowAddress {
        display: none;
    }

    #papaAddress {
        display: none;
    }

    #dacAddress {
        display: none;
    }

    #perelAddress {
        display: none;
    }
}
