/* =============
    building
============= */
#building{
    grid-area: building;
    margin-right: 40px;
    display:block;
    align-self:flex-end;
    div{
        align-self: center;
        height: 100%;
        overflow: hidden;
    }
    #mainBuilding{
        #mainBuildingIn{
            display: none;
        }
    }
}
