/* =============
    Dak
============= */
#dak{
    #dakOut{
        display: none;
        background-image:url("../img/dak-out.jpg");
    }
    #dakIn{
        display: none;
        background-image: url("../img/dak-in.png");
    }

}
