#info {
    grid-area: info;
    background-color: $blue;
    display: flex;
    align-items: center;
    align-self: center;
    height: 370px;
    bottom: 0;
    position: fixed;
    @include sm {
        height: 200px;
    }
    @include md {
        height: 200px;
        display: block;
        bottom: auto;
        width: 35vw;
        height: 100vh;
        padding-top: 50px;
    }
    @include lg {
        width: 25vw;
    }
    @include xl {
        width: 20vw;
    }

    div {
        padding: 20px;
    }

    div:nth-child(2) {
        display: none;
    }

    div:nth-child(3) {
        display: none;
    }

    div:nth-child(4) {
        display: none;
    }

    div:nth-child(5) {
        display: none;
    }
}
