/* =============
    Section 2
============= */
#mainBuilding{
    #mainOut{
        display: none;
        background-image:url("../img/main-out.jpg");
    }
    #mainIn{
        display: none;
        background-image: url("../img/main-in.jpg");
    }
}
