/* =============
    Section 1
============= */
#papa{
    #papaOut{
        display: none;
        background-image:url("../img/papa-out.jpg");
    }
    #papaIn{
        display: none;
        background-image: url("../img/papa-in.jpg");
    }

}
